n8n_workflow.json
{
  "name": "AML Alert Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aml-alerts",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook: AML Alerts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "aml-alerts"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"alert_count\"]}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Has CRITICAL/HIGH Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "resource": "message",
        "channel": "#aml-alerts",
        "text": "=:rotating_light: *AML Alert Batch — {{$json[\"alert_count\"]}} actionable alert(s)*\n\n*Top alert:*  Rank #{{$json[\"alerts\"][0][\"rank\"]}}  |  Tier: {{$json[\"alerts\"][0][\"tier\"]}}  |  Score: {{$json[\"alerts\"][0][\"fraud_score\"]}}\n\nOpen the Streamlit dashboard for full SHAP drilldown →  http://localhost:8501",
        "otherOptions": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Slack: Notify Analyst Queue",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [720, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ok\", \"routed\": {{$json[\"alert_count\"]}}}",
        "options": {}
      },
      "id": "d4e5f6g7-0004-0004-0004-000000000004",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"skipped\", \"reason\": \"no actionable alerts\"}",
        "options": {}
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000005",
      "name": "Respond 204 (no alerts)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 420]
    }
  ],
  "connections": {
    "Webhook: AML Alerts": {
      "main": [
        [{ "node": "Has CRITICAL/HIGH Alerts?", "type": "main", "index": 0 }]
      ]
    },
    "Has CRITICAL/HIGH Alerts?": {
      "main": [
        [{ "node": "Slack: Notify Analyst Queue", "type": "main", "index": 0 }],
        [{ "node": "Respond 204 (no alerts)", "type": "main", "index": 0 }]
      ]
    },
    "Slack: Notify Analyst Queue": {
      "main": [
        [{ "node": "Respond 200", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "local"
  },
  "id": "aml-alert-router-v1",
  "tags": ["aml", "alerts", "automation"]
}
